@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <img src="~/images/carousel1.jpg" />
    <h1 class="display-4">Seja Bem-Vindo ao Site da GoViagens</h1>
    <p>Acesse o site do fornecedor para maiores informações<a href="https://www.decolar.com/">Agências Aéreas</a>.</p>
</div>
